{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}Skrzynka odbiorcza{% endtrans %}</h2>

<a href="{{ url('fos_message_thread_new' )}}">{% trans from 'FOSMessageBundle' %}        
    <button type="button" color="white" class="btn btn-success">
        Wyślij nową wiadomość
    </button>{% endtrans %}

</a>

{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
