{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}Nowa wiadomość:{% endtrans %}</h2>

<form action="{{ url('fos_message_thread_new') }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" value="Wyślij wiadomość"/>
</form>
    
{% endblock %}
