{% extends "::base.html.twig" %}

{% block title %}BoxBundle:User:user{% endblock %}

{% block body %}
            <div class="container">
            <div class="pull-right">
    {% if app.user %}
    Witaj {{ app.user }} |
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('box_user_admin') }}">PANEL ADMINA</a>
        {% endif %}
        |<a href="{{ path('fos_user_security_logout') }}">Wyloguj się</a>
    
    
    {% endif %}
     </div>
            </div>
{% endblock %}
