{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        
        <h1>
            <div class="col-md-6 col-md-offset-3">
                <p class="bg-success">
                    Dodaj zlecenie    
                </p>
            </div>    
        </h1>
    </div>
    
    <div class="container">
        <br><br><br>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('commission_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
