
{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">        
        <h1>{% trans from 'FOSMessageBundle' %}Wiadomości{% endtrans %}</h1>

        <ul>
            <li><a href="{{ url('fos_message_inbox') }}" class="btn btn-default">{% trans from 'FOSMessageBundle' %}Skrzynka odbiorcza{% endtrans %}</a></li>
            <li><a href="{{ url('fos_message_sent') }}" class="btn btn-default">{% trans from 'FOSMessageBundle' %}Wyślij{% endtrans %}</a></li>
            <li><a href="{{ url('fos_message_deleted') }}" class="btn btn-default">{% trans from 'FOSMessageBundle' %}Usuń{% endtrans %}</a></li>
        </ul>

        {% block fos_message_content %}{% endblock %}
        <div class="text-center">
                    <a href="{{ path('box_user_user') }}">
                        <button type="button" class="btn btn-info">
                            Powrót do strony głównej
                        </button>
                    </a>
        </div>                
    </div>                
{% endblock %}
